/* Try to make the img take a full size of screen using background-size:cover */
.container-fluid .background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Try to make text center in the img */
.container-fluid .background .welcome {
  font-size: 4rem;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
}

/* Try to make the img reponsive using media query */
@media (min-width: 576px) {
  .container-fluid .background h1 {
    font-size: 5.5rem;
  }
}
@media (min-width: 992px) {
  .container-fluid .background h1 {
    font-size: 6rem;
  }
}

@media (min-width: 1200px) {
  .container-fluid .background h1 {
    font-size: 7.5rem;
  }
}
